:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --main-bg: #292F36;
  --second-bg: #1A1E23;
  --accent: #FAC16C;

  --white: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-bg);
  color: var(--white);
}

.special {
  color: #238d23;
  font-style: italic;
}

.accent-color {
  color: var(--accent);
}